DOMAIN_NAME=oshtohri.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

WP_ADMIN_USER=oshtohri
WP_ADMIN_EMAIL=oshtohri@example.com

WP_USER=student
WP_USER_EMAIL=student@example.com

MYSQL_HOST=mariadb
MYSQL_PORT=3306
